<template>
    <require from="./../../resources/elements/big-block"></require>

    <require from="./../../resources/elements/nav-bar"></require>
    <nav-bar></nav-bar>
    <!--<require from="./../../resources/elements/nav-bar2.html"></require>
    <nav-bar2 router.bind="router"></nav-bar2>-->

    <!--<big-block name="Block 1" color="red"></big-block>
    <big-block name="Block 2" color="blue"></big-block>
    <big-block name="Block 3" color="purple"></big-block>
    <big-block name="Block 4" color="pink"></big-block>-->

</template>