# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode/symbols.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.dll
*.pdb
1/obj/Debug/netcoreapp1.0/.SDKVersion
1/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
*.rsp
1/wwwroot/scripts/app-bundle.js
*.map
1/wwwroot/scripts/vendor-bundle.js
*.SDKVersion
*.rsp
1 - CLI/bin/Debug/netcoreapp1.0/1.deps.json
1 - CLI/bin/Debug/netcoreapp1.0/1.runtimeconfig.dev.json
1 - CLI/bin/Debug/netcoreapp1.0/1.runtimeconfig.json
*.IncrementalCache
1 - CLI/obj/Debug/netcoreapp1.0/dotnet-compile.assemblyinfo.cs
2 - Feature Examples/wwwroot/scripts/app-bundle.js
node_modules/
